/*-------------------------------------
-----------------ATENCIÓN--------------
----------aún no es responsive---------
*/

/* variables */
:root {
  /* Colores */
  --color-fondo: #e7e6e6;
  --color-fuente: #524c4c;
  --color-violeta: #9747ff;
  --color-violeta-hover: #6c0de9;

  /* Fuentes */
  --fuente-poppins-italic: "Poppins";
  --fuente-sulphur-point: "Sulphur Point", regular;
  --style-font: italic;
  /*Padding*/
  --padding-x: 0 8%;
  --padding-y: 8% 0;
  /* Tamaño de fuente */
  --fuenteTexto: clamp(1em, 1.6em, 2vw);
  --fontTamnio: clamp(1em, 3vw, 1.4em);
  --fontTamnioTitle: 10em;
  --fontTitleTablet: 6.5em;
  --fontTitlePhone: 4em;
  --fontTamnioSubTitle: 6em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*///////////////// NAV//////////////////*/
.navbarMenu {
  z-index: 2;
  top: 15px;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.175);
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.funteNav {
  font-size: var(--fuenteTexto) !important;
}
/*///////////////// CUERPO DE LA WEB//////////////////*/
body {
  line-height: 1.2;
  padding: var(--padding-x);
  background: url("../asset/img/fondo.jpg") no-repeat;
  position: relative;
  color: var(--color-fuente);
  background-color: var(--color-fondo);
  font-family: var(--fuente-sulphur-point);
}
.center {
  justify-content: center;
  align-items: center;
}
/* Banner */
.banner {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.h2Color {
  font-family: var(--fuente-poppins-italic);
  font-style: var(--style-font);
  font-weight: 200;
  font-size: var(--fontTamnioTitle);
}

.banner h2:nth-child(2) {
  color: var(--color-violeta);
  font-weight: 200;
  text-align: left;
}

.banner h2:nth-child(n + 3) {
  text-align: right;
  font-size: var(--fontTamnioTitle);
  font-family: var(--fuente-poppins-italic);
  font-style: var(--style-font);
}
/*/////////////////SECCION DOS//////////////////*/
.textSectionTwo {
  font-size: var(--fontTamnio);
  margin: 3rem 0;
  width: 50%;
}
.skillsContainerTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.skillsContainerTitle h3 {
  font-size: var(--fontTamnioSubTitle);
  font-style: var(--style-font);
  margin: 2rem 0;
  font-weight: 200;
}

.containerCarruselSkills {
  display: flex;
  flex-direction: column;
}
.cont {
  width: 100%;
}
.containerS {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  display: none;
}
.cardsContainer {
  margin: 3rem 0;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.175);
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cardP {
  font-size: var(--fuenteTexto);
  font-weight: 400;
}

/*/////////////////FOOTER Y FORM//////////////////*/
.footerM {
  height: 100dvh;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titleContact {
  align-self: flex-end;
  font-weight: 200;
}

.formulario {
  max-width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 3rem;
}

.campo input[type="text"],
.campo input[type="email"],
.campo textarea {
  font-size: 1.5em;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid var(--color-violeta);
  outline: none;
  resize: none;
}

.campo textarea {
  height: 100px;
}

.campo textarea::placeholder {
  color: var(--color-fuente);
}

.enviar {
  align-self: flex-end;
  background-color: var(--color-violeta);
  color: #fff;
  padding: 1.2rem 3.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 200ms all ease-in-out;
}

.enviar:hover {
  background-color: var(--color-violeta-hover);
}

@media screen and (width <= 1000px) {
  .banner h2:nth-child(2),
  .banner h2:nth-child(n + 3),
  .h2Color {
    font-size: var(--fontTitleTablet);
  }
  .banner {
    height: 80dvh;
  }
  .textSectionTwo {
    width: 80%;
  }
  .skillsContainerTitle h3 {
    font-size: 4.5em;
  }
  .footerM {
    height: auto;
    margin-top: 4rem;
  }
}
@media screen and (width <= 646px) {
  .banner h2:nth-child(2),
  .banner h2:nth-child(n + 3),
  .h2Color {
    font-size: var(--fontTitlePhone);
  }
  .banner {
    height: 50dvh;
  }
  .textSectionTwo {
    width: 100%;
  }
  .formulario {
    max-width: 100%;
  }
  .footerM {
    height: auto;
    margin-top: 0;
  }
}
@media screen and (width <= 450px) {
  .banner h2:nth-child(2),
  .banner h2:nth-child(n + 3),
  .h2Color {
    font-size: 3em;
  }
  .banner {
    height: 45dvh;
  }
  .skillsContainerTitle h3 {
    font-size: 3em;
  }
}
